
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

html,
body,
#app {
    width: 100%;
    height: 100%;
}

#app {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin: 0 auto;
    padding: 0;
    color: #13144ebd;
    min-height: 100%;
    width: 100%;
    font-size: 1.5em;
    font-family: $bodyFont;
}

h2,
h3,
p {
    margin-bottom: 1.5em;
}

h2 {
    border-bottom: 2px solid #dcd105bf;
}

h1,
h2,
h3,
h4 {
    font-family: $headingFont;
}

.flash,
header,
main,
footer {
    flex-shrink: 0;
}