footer {
    margin: 0;
    padding-top: 3em;
    background-color: #151644;
    color: white;
}

.footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

.icon {
    color: white;
}

.social a:hover {
    color: #fff200ba;
}

iframe {
    width: 100%;
    border: 0;
}