/* Style for home page */

.products {
  display: flex;
  flex-flow: row wrap;
  h2 a {
    color: white;
    text-decoration: none;
    &:hover {
      color: #dcd105bf;
    }
  }
}

.products-persienner {
  width: 60%;
}

.heading,
.in_products,
.out_products {
  flex: 1 50%;
  height: 20em;
}

.in_products,
.out_products {
  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  background-color: white;
}

.about_container,
.suppliers,
.contact_container {
  max-width: 950px;
  margin: 0 auto;
  padding: 2.5em 0 2.5em 0;
}

.in_products {
  background: linear-gradient(#000836c2, #000836c2),
    url("assets/images/products/049.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.out_products {
  background: linear-gradient(#000836c2, #000836c2),
    url("assets/images/products/out_product.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.in_border,
.out_border {
  border: 2px solid #fff200ba;
  width: 95%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.out_products h2,
.in_products h2 {
  margin-bottom: 0;
  color: #ffffffd6;
  font-size: 2em;
  border-bottom: none;
}

.suppliers-logo {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.product-container {
  width: 60%;
}

section div ul {
  list-style-type: disc;
  padding: 1em;
}
