header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding-top: 1em;
    background-color: #ffffff70;
    font-family: 'Doppio One', sans-serif;
}

header > * {
    padding: 10px;
}

.logo p {
    padding-bottom: 0;
}

.logo img {
    width: 15em;
}

/* .contact,
.icon,
nav ul {
    flex: 1 50px;
} */

nav ul {
    display: flex;
    flex-wrap: wrap;
}

nav ul li {
    list-style: none;
    margin: 0;
    padding: 1em;
}

nav li a {
    color: #13144ebd;
    font-size: 1.2em;
    text-decoration: none;
    padding: 0.5em;
    font-weight: bold;
}

nav a:hover,
a:hover {
    text-decoration: underline;
    text-decoration-color: #dcd105bf;

}